body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template: 80px 1fr/ 200px 1fr;
    grid-template-areas:
        "header header"
        "aside main";
}

header{
    background-color: rgb(107, 107, 255);
    grid-area: header;

    button{
        height: 50px;
        width: 50px;
    }
}

aside{
    grid-area: aside;
    border-right: 1px solid black;
    padding: 5px;
}

main{
    grid-area: main;
}

footer svg{
    fill:gold;
    width: 10px;
}