.task {

    position: relative;
    display: grid;
    grid-template: 30px 30px / 1fr min-content;
    align-items: center;
    width: 70%;
    padding: 4px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;


    .title {}

    .date {
        color: gray;
    }

    .project {
        border-radius: 20px;
        background-color: red;
        padding: 3px;
    }

    .trashCan {
        background-image: url(../assets/trashcan.svg);
        position: absolute;
        right: -25px;
        top: 0;
        cursor: pointer;
        width: 25px;
        height: 25px;
    }

    svg {
        position: absolute;
        left: -55px;
        top: 10px;
        cursor: pointer;
        width: 46px;
        height: 46px;
    }
}