dialog {
    --buttonSize: 30px;
    --modalWidth: 500px;

    .modal {
        display: grid;
        grid-template: repeat(4, auto)/ repeat(3, 1fr);
        grid-template-areas:
            "title title title"
            "descript descript descript"
            "date project priority"
            "button1 . button2"
        ;
        row-gap: 10px;
        width: var(--modalWidth);

        .titleLabel,
        .descriptLabel,
        .dateLabel {
            display: flex;
            flex-direction: column;
            font-size: 18px;
            margin-bottom: 5px;
        }

        .titleLabel {
            grid-area: title;

            #titleInput {
                padding: 5px;
                font-size: inherit;
            }
        }

        .descriptLabel {
            grid-area: descript;

            #descriptTextArea {
                padding: 5px;
                font-size: inherit;
            }
        }

        .dateContainer {
            grid-area: date;
            justify-self: center;

            .dateLabel {
                text-align: center;

                .dateInput {
                    flex: 10%;
                    width: min-content;
                    margin-top: 10px;
                }
            }
        }

        .projectBox {

            .projectLabel {
                font-size: 20px;
                text-align: center;
                display: flex;
                flex-direction: column;

                #projectSelect {
                    color: black;
                    font-size: 16px;
                }
            }

        }

        .priorityDiv {
            grid-area: priority;
            justify-self: center;
            display: grid;
            width: 150px;
            grid-template: 20px 40px / 1fr max-content 1fr;
            grid-template-areas:
                "label label label"
                "leftButton text rightButton";
            justify-content: center;
            align-items: center;

            .priorityLabel {
                font-size: 18px;
                grid-area: label;
                text-align: center;
            }

            .priorityText {
                grid-area: text;
            }

            .priorityLeftButton,
            .priorityRightButton {
                width: var(--buttonSize);
                height: var(--buttonSize);
                justify-self: center;
            }

            .priorityLeftButton {
                grid-area: leftButton;
                background: url(../../assets/arrow-left-bold-outline.svg);
            }

            .priorityRightButton {
                grid-area: rightButton;
                background: url(../../assets/arrow-right-bold-outline.svg);
            }
        }

        button {
            padding: 5px 10px;
            font-size: 20px;
            width: 100px;
            margin-top: 30px;
        }

        .addTaskButton {
            grid-area: button1;
            place-self: end;
        }

        .cancelButton {
            grid-area: button2;
            place-self: start;
        }
    }

    .projectModal {
        display: grid;
        grid-template: 1fr 2fr 1fr / repeat(2, 1fr);
        grid-template-areas:
            "label label"
            "input input"
            "leftButton rightButton"
        ;
        width: var(--modalWidth);
        font-size: 20px;

        .projectNameLabel {
            grid-area: label;
            text-align: center;
        }

        .projectNameInputWrapper {
            grid-area: input;

            position: relative;

            #projectNameInput {
                padding: 2px;
                width: 100%;
                font-size: inherit;
            }

            .warningText {
                display: none;
                position: absolute;
                text-align: center;
                width: 100%;
                color: red;
                font-weight: 700;
            }
        }

        #projectSelect {
            grid-area: input;
            padding: 2px;
            width: 100%;
            height: min-content;
            font-size: inherit;
        }

        .deleteProjectButton,
        .addProjectButton,
        .cancelButton {
            padding: 5px;
            width: min-content;
            font-size: inherit;
            justify-self: center;
            align-self: center;
            margin: 0;
        }

        .cancelButton {
            grid-area: rightButton;
        }

        .deleteProjectButton,
        .addProjectButton {
            grid-area: leftButton;
        }
    }


}