header {
    background-color: rgb(107, 107, 255);
    grid-area: header;

    button {
        height: 50px;
        width: 50px;

        &.addTaskButton {
            background: url('../../assets/plus.svg');
        }

        &.addProjectButton {
            background: url('../../assets/tab-plus.svg');
        }

        &.editProjectButton {
            background: url('../../assets/tab-remove.svg');
        }
    }
}